/*
Define bootstrap's variables you want to override in this file.
Checkout _bsvar.scss a complete list of bootstrap's variable
*/

$transparant: rgba(0,0,0,0);

$white:     #ffffff !default;
$gray-100:  #f9f9fa !default;
$gray-200:  #ededf0 !default;
$gray-300:  #d7d7db !default;
$gray-400:  #b1b1b3 !default;
$gray-500:  #737373 !default;
$gray-600:  #4a4a4f !default;
$gray-700:  #38383d !default;
$gray-800:  #2a2a2e !default;
$gray-900:  #0c0c0d !default;
$black:     #000000 !default;

$blue:      #45a1ff !default;
$teal:      #00feff !default;
$magenta:   #ff1ad9 !default;
$green:     #30e60b !default;
$yellow:    #ffe900 !default;
$red:       #ff0039 !default;
$purple:    #c069ff !default;
$orange:    #ff9400 !default;
$indigo:    #6610f2 !default;
$pink:      #e83e8c !default;
$cyan:      #17a2b8 !default;
$ink:       #0f1126 !default;
$brandlight: lighten($yellow, 34%);

$colors: (
    'magenta': $magenta,
    'ink': $ink,
);

$theme-colors: (
	'brandlight': $brandlight,
    'brand': $yellow,
    'dark': $ink,
    'transparant': $transparant
);

$body-bg: #e3e5e6;
$body-color: #212121;

$enable-caret:                                true !default;
$enable-rounded:                              false !default;
$enable-shadows:                              true !default;
$enable-gradients:                            true !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-grid-classes:                         true !default;
$enable-pointer-cursor-for-buttons:           true !default;
$enable-print-styles:                         true !default;
$enable-responsive-font-sizes:                false !default;
$enable-validation-icons:                     true !default;
$enable-deprecation-messages:                 true !default;

$link-hover-decoration:                   none !default;
