/* Segoe UI Semilight*/
@font-face {
	font-family: "SegoeUI";
	font-style: normal;
	font-weight: 300;
	src: local("Segoe UI"),
		url("../fonts/sui-300.eot") format("embedded-opentype"),
		url("../fonts/sui-300.woff2") format("woff2"),
		url("../fonts/sui-300.woff") format("woff"),
		url("../fonts/sui-300.ttf") format("truetype"),
		url("../fonts/sui-300.svg#web") format("svg");
  }

/* Segoe UI Regular*/
@font-face {
	font-family: "SegoeUI";
	font-weight: 400;
	src: local("Segoe UI"),
		url('../fonts/sui-400.woff2') format("woff2"),
		url('../fonts/sui-400.woff') format("woff"),
		url('../fonts/sui-400.ttf') format("ttf");
}

/* Segoe UI Semibold*/
@font-face {
	font-family: "SegoeUI";
	font-weight: 600;
	src: local("Segoe UI"),
		url("../fonts/sui-600.woff2") format("woff2"),
		url("../fonts/sui-600.woff") format("woff"),
		url("../fonts/sui-600.ttf") format("ttf");
}
