.grid {
	display: grid;
	margin: auto;
}


.img-bg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

@media(min-width:567px) {
	.g-sm-2 {
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
	}
}

@media(min-width: 768px) {
	.g-md-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 1rem;
	}
}
