@import "font_encode";
@import "font_sui";

@mixin typeHead() {
	font-family: "Encode Sans", sans-serif;
}

@mixin typeMain() {
	font-family: "SegoeUI", sans-serif;
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	@include typeHead();
}
h1,
h2 {
	font-weight: 300;
}
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

h4,
h5,
h6 {
	color: lighten($body-color, 12%);
}
h3 {
	color: lighten($body-color, 15%);
}
h2 {
	color: lighten($body-color, 20%);
}
h1 {
	color: lighten($body-color, 24%);
}

/* Additional Text Utilities*/
.text-lite {
	font-weight: 300;
}
.text-regular {
	font-weight: 400;
}
.text-meta {
	font-size: 0.8rem;
}
