@import "meta";
@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "typography";
@import "utilities";
@import "navbar";
@import "footer";
@import "grid";

html {
	font-size: 18px;
}

body {
	@include typeMain();
}

.box-color {
	max-width: 400px;
}

.max-in {
	max-width: 720px;
}

.max-med {
	max-width: 860px;
}
.post-tag {
	margin: 0 .4rem;
	padding: .2rem;
	background-color: $brandlight;
	font-weight: 400;
	color: $ink;
}
